<form method="POST" class="mt-5" enctype="multipart/form-data" action="<%= (book) ? book.id : '' %>">
	<div class="form-group">
		<label>Заголовок</label>
		<input type="text"
			value="<%= (book) ? book.title : '' %>"
			name="title"
			class="form-control"			
		>
	</div>

	<div class="form-group">
		<label>Описание</label>
		<textarea
			rows="2"
			name="description"
			class="form-control"		
		><%= (book) ? book.description : '' %></textarea>
	</div>

	<div class="form-group">
			<label>Авторы</label>
			<input type="text"
				value="<%= (book) ? book.authors : '' %>"
				name="authors"
				class="form-control"
			>
	</div>

	<div class="form-group">
		<label><%= (book) ? `Текущий файл книги ${book.fileBook}` : '' %></label>
		<br />
		<input type="file"
			name="book-file"
			accept="image/png, image/jpeg, image/jpg"
		>
	</div>

	

	<div class="form-group text-right ">
			<button type="submit" class="btn btn-primary"><%= (book) ? 'Сохранить изменения' : 'Добавить книгу' %></button>
	</div>
</form>